In [1]:
import pandas

In [3]:
bd = pandas.DataFrame(columns=['building_address', 'room_number', 'address', 'floor'])

Empty DataFrame
Columns: [building_address, room_number, address, floor]
Index: []

In [4]:
# add room to df
max_room = 133
bd.loc[0] = ['4/1', "ห้องประชุม", '-', '-']
b_count = 2
for i in range(1, max_room + 1):
    if i == 31:
        b_count+=1
    if i == 66:
        b_count+=1
    if i == 106:
        b_count+=1
    b_str = "4/" + str(b_count)
    bd.loc[i] = [b_str, str(i), "49/"+str(i), 'unknown']
bd

    building_address room_number address    floor
0                4/1  ห้องประชุม       -        -
1                4/2           1    49/1  unknown
2                4/2           2    49/2  unknown
3                4/2           3    49/3  unknown
4                4/2           4    49/4  unknown
..               ...         ...     ...      ...
129              4/5         129  49/129  unknown
130              4/5         130  49/130  unknown
131              4/5         131  49/131  unknown
132              4/5         132  49/132  unknown
133              4/5         133  49/133  unknown

[134 rows x 4 columns]

In [ ]:
bd.to_csv('cleaned/building.csv', index=False)